<div class='reviewable-upload'>
  <div class='reviewable-upload-contents'>
    {{#if reviewable.upload_id}}
      <div class='post-contents-wrapper'>
        <div class='post-contents'>
          <div class='post-body'>
            {{html-safe reviewable.payload.post_cooked}}
          </div>
        </div>
      </div>
    {{/if}}

    {{reviewable-field classes='reviewable-upload-details scan-result'
                                  name=(i18n 'review.file.scan_result')
                                  value=reviewable.payload.scan_message}}

    {{reviewable-field classes='reviewable-upload-details filename'
                                  name=(i18n 'review.file.filename')
                                  value=reviewable.payload.original_filename}}

    {{reviewable-field classes='reviewable-upload-details uploaded-by'
                                  name=(i18n 'review.file.uploaded_by')
                                  value=reviewable.payload.uploaded_by}}
  </div>
  {{yield}}
</div>