
<h2>{{i18n "antivirus.version_title"}}</h2>

<table>
  <thead>
    <tr>
      <th>{{i18n "antivirus.version"}}</th>
      <th>{{i18n "antivirus.database_version"}}</th>
      <th>{{i18n "antivirus.database_updated_at"}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.versions as |version|}}
      <tr>
        <td>{{version.antivirus}}</td>
        <td>{{version.database}}</td>
        <td>{{version.updated_at}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<br>

<h2>{{i18n "antivirus.stats_title"}}</h2>

<table>
  <thead>
    <tr>
      <th>{{i18n "antivirus.stats.total_scans"}}</th>
      <th>{{i18n "antivirus.stats.recently_scanned"}}</th>
      <th>{{i18n "antivirus.stats.quarantined"}}</th>
      <th>{{i18n "antivirus.stats.found"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{background_scan_stats.scans}}</td>
      <td>{{background_scan_stats.recently_scanned}}</td>
      <td>{{background_scan_stats.quarantined}}</td>
      <td>{{background_scan_stats.found}}</td>
    </tr>
  </tbody>
</table>
