<section class="antivirus-stats admin-detail pull-left">
  <div class="antivirus-stats__header">
    <h3>{{i18n "antivirus.stats.title"}}</h3>
  </div>

  <table>
    <thead>
      <tr>
        <th>{{i18n "antivirus.version"}}</th>
        <th>{{i18n "antivirus.database_version"}}</th>
        <th>{{i18n "antivirus.database_updated_at"}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.model.versions as |version|}}
        <tr>
          <td>{{version.antivirus}}</td>
          <td>{{version.database}}</td>
          <td>{{version.updated_at}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>{{i18n "antivirus.stats.total_scans"}}</th>
        <th>{{i18n "antivirus.stats.recently_scanned"}}</th>
        <th>{{i18n "antivirus.stats.quarantined"}}</th>
        <th>{{i18n "antivirus.stats.found"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{this.model.stats.scans}}</td>
        <td>{{this.model.stats.recently_scanned}}</td>
        <td>{{this.model.stats.quarantined}}</td>
        <td>{{this.model.stats.found}}</td>
      </tr>
    </tbody>
  </table>

</section>